* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 70px;
    background-color: #fff7e3;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    /* z-index: 1000;  -  optional*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(logo.png);
    height: 70px;
    width: 300px;
    background-size: contain;
}

.headings p {
    display: inline;
    color: #4d4d4d;
    font-size: 15x;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}    

.button1 {
    height: 40px;
    width: 140px;
    background-color: #00116e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.button1 p { 
    font-size: 13px;
    color: white;
}

.button2 {
    height: 40px;
    width: 100px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.button2 p { 
    font-size: 13px;
    color: #000000;
}

/* second portion */

.second-portion {
    height: 1000px;
    background-color: #fff7e3;
    display: flex;
    justify-content: center;
}

.box-img {
    background-image: url(boximage.gif);
    height: 500px;
    width: 250px;
    background-size: cover;
    border-radius: 10px;
    margin-top: 250px;
}