* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 70px;
    background-color: #fff7e3;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    /* z-index: 1000;  -  optional*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(logo.png);
    height: 70px;
    width: 300px;
    background-size: contain;
}

.headings p {
    display: inline;
    color: #4d4d4d;
    font-size: 15x;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.button1 {
    height: 40px;
    width: 140px;
    background-color: #00116e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.button1 p {
    font-size: 13px;
    color: white;
}

.button2 {
    height: 40px;
    width: 100px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.button2 p {
    font-size: 13px;
    color: #000000;
}

/* second portion */

.second-portion {
    height: 870px;
    background-color: #fff7e3;
    display: flex;
    justify-content: center;
}

.box-img {
    background-image: url(boximage.gif);
    height: 650px;
    width: 1050px;
    background-size: cover;
    border-radius: 30px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text h1 {
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 8px;
    text-align: center;
}

.box-text h5 {
    color: #e7e7e7;
    font-size: 16px;
    margin: 17px 0px 8px;
    text-align: center;
}

.btns {
    display: flex;
    margin-top: 20px;
}

.box-btn1 {
    height: 40px;
    width: 330px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    display: flex;
}

.box-btn1 p {
    font-size: 16px;
    color: #000000;
}

.box-btn2 {
    height: 40px;
    width: 330px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.box-btn2 p {
    font-size: 16px;
    color: #000000;
}

.video iframe {
    height: 370px;
    width: 600px;
    border-radius: 15px;
    background-size: cover;
}

.video-portion {
    background-color: #fff7e3;
    height: 420px;
    display: flex;
    justify-content: center;
}

.video-text h2 {
    color: #1a244d;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.video-text p {
    text-align: justify;
    color: #696969;
    font-size: 15px;
    line-height: 1.75rem;
}

.video-text {
    margin-left: 20px;
    margin-top: 40px;
}

.video-text-btn {
    height: 40px;
    width: 230px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 15px
}

.video-text-btn p {
    font-size: 16px;
    color: #000000;
}

/* Choose Portion */

.choose {
    background-color: white;
    height: 500px;
}

.choose h2 {
    color: #1a244d;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 220px;
    height: 380px;
}

.box img {
    height: 200px;
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.box h4 {
    color: #1a244d;
    font-size: 25px;
    margin: 10px 0px 8px;
    text-align: center;
}

.box p {
    color: #696969;
    font-size: 16px;
    text-align: center;
}

.choose-two {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.choose-img {
    background-image: url(choose-img.gif);
    width: 546px;
    height: 370px;
    background-size: cover;
    border-radius: 10px;
}

.choose-contents {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.choose-contents h2 {
    color: #1A244D;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 550;
    padding-top: 0px;
    padding-bottom: 0px;
}

.choose-contents h4 {
    color: #1A244D;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}

.choose-contents p {
    color: #696969;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.choose-text-btn {
    height: 40px;
    width: 230px;
    background-color: #ffcc57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 15px
}

.choose-text-btn p {
    font-size: 16px;
    color: #000000;
}

/* feedback-section */

.feedback {
    background-color: #FFF7E3;
    height: 486px;
    width: 100%;
    margin-top: 450px;
}

/* .feedback-heading {
    height: 156px;
    background-color: white;
    width: 80%;
} */

.feedback-heading h2 {
    color: #1A244D;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 550;
    text-align: center;
    padding-top: 60px;
}

.feed-boxes {
    display: flex;
    justify-content: center;
}

.feed-box {
    width: 280px;
    height: 230px;
    background-color: #ffffff;
    /* padding: 32px 24px; */
    border: 1px solid black;
    margin: 30px;
    border-radius: 20px;
    display: block;
    /* align-items: flex-end; */
}

.feedbox-text {
    margin: 32px 24px 0px 24px;
}

.feedbox-text p {
    font-size: 14px;
    line-height: 25px;
}

.feedbox-box {
    background-color: #ffcc57;
    height:70px;
    width: 280px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 53px;
}

.feedbox-box img {
    height: 45px;
    width: 45px;
    padding: 10px 0px 10px 20px;
}